<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>  </h2>
<div class="container">
    <form action="addAppointment" method="post">
        <br>
        Диагностика <input type="text" name="diagnostics">
        <br>
        Таблетки <input type="text" name="tablets">
        <br>
        Уколы/капельницы <input type="text" name="injection">
        <br>
        <br>
        <br>
        <button class="btn - btn-success" type="submit">Добавить назначения</button>
    </form>
</div>
</body>
</html>